body {
  font-family: 'Cinzel Decorative', cursive, sans-serif;
}

h1 {
  font-size: 46px;
  padding-bottom: 1em;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  padding-left: 15%;
  padding-right: 15%;
  line-height: 1.25;
}

div {
  text-align: center;
  font-size: 32px;
}

#word {
    text-align: center;
    font-size: 80px;
    padding: 0.5em 0;
}

#guessCount {
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
}

#lettersGuessed {
  font-weight: bold;
  padding: 10px 0;
}

#wins {
  font-weight: bold;
  padding: 10px 0;
}

#game-pane {
  padding-top: 10%;
}