body {
  font-family: 'Cinzel Decorative', cursive, sans-serif;
}

h1 {
  font-size: 46px;
  padding-bottom: 1em;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0.5em;
}

div {
  text-align: center;
  font-size: 28px;
}

#word {
  text-align: center;
  font-size: 70px;
  padding-bottom: 1em;  
}

#guessCount {
  text-align: center;
  font-weight: bold;
  padding: 15px 0;
}

#lettersGuessed {
  font-weight: bold;
  padding: 15px 0;
}

#wins {
  font-weight: bold;
  padding-bottom: 15px;
}

#game-pane {
  padding-top: 10%;
}